@use "sass:math";
// Подключаемые шрифты
// @import "fonts/fonts";

// Функции и переменные
@import 'base/variables';
@import 'base/functions';

:root {
	// Шрифт по умолчанию
	--fontFamily: "";

	// font-weight. prefix: --fw-
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	// colors. prefix: --color-

	// line-height. prefix: --lh-
	
	// letter-spacing. prefix: --ls-

	// font-size. prefix: --fz-
}
$containerWidth: 1176; // Вписываем ширину контейнера как она есть

$containerPaddingDefault: 40;
$containerSidePaddingDefault: math.div($containerPaddingDefault, 2);

$containerPaddingL: 30;
$containerSidePaddingXS: math.div($containerPaddingL, 2);

$containerPaddingM: 20;
$containerSidePaddingM: math.div($containerPaddingM, 2);

$containerPaddingS: 10;
$containerSidePaddingS: math.div($containerPaddingS, 2);


// Обнуление, общие параметры
@import 'base/reset';
// @import 'base/mixins';

// Оболочка
html {
	font-size: $defaultFZ + px;
}
// Если требуется полностью резиновая вёрстка на любых типах экранов. Все основные значения в rem
// Для однопиксельных значений: max(1px, 1rem)
// html {
// 	font-size: math.div(100vw, 1440) * 10; 
// 	@media (max-width: em($breakpoint992)) {
// 		font-size: math.div(100vw, $breakpoint768) * 10; 
// 	}
// 	@media (max-width: em($breakpoint768)) {
// 		font-size: math.div(100vw, $breakpoint576) * 10; 
// 	}
// 	@media (max-width: em($breakpoint576)) {
// 		font-size: math.div(100vw, $breakpoint360) * 10; 
// 	}
// }

body {
	font-size: rem(16);
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Основная сетка
.container {
	max-width: ($containerWidth + $containerPaddingDefault) + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 ($containerSidePaddingDefault + px);

	@media (max-width: em($breakpoint1400)) {
		max-width: rem(1100);
	}
	@media (max-width: em($breakpoint992)) {
		max-width: rem(970);
	}
	@media (max-width: em($breakpoint768)) {
		max-width: rem(750);
	}
	@media (max-width: em($breakpoint480)) {
		max-width: none;
	}
}

.vertical-indent {
	&_xs {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&_s {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&_m {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&_l {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&_xl {
		padding-top: 0px;
		padding-bottom: 0px;

	}
	@media (max-width: em($breakpoint1200)) {

	}
	@media (max-width: em($breakpoint992)) {

	}
	@media (max-width: em($breakpoint768)) {

	}
}

// классы для вставки 
// vertical-indent vertical-indent_xs
// vertical-indent vertical-indent_s
// vertical-indent vertical-indent_m
// vertical-indent vertical-indent_l
// vertical-indent vertical-indent_xl

// Подключение файлов с общими классами
@import "base/ui";